@import '../../../../assets/styles/utils';

.table {
  width: 100%;
  max-width: 100%;
  background-color: theme-color('white', 'base');

  @include breakpoint(min-width, bp-media('md')) {
    @include shadow();
  }

  thead { 
    @include breakpoint(max-width, bp-media('md')) {
      display: none; 
    }
  }

  tr {
    @include breakpoint(min-width, bp-media('md')) {
      border: 1px solid theme-color('grey', 'base');
    }

    @media (hover: hover) {
      &:hover {
        background-color: lighten(theme-color('grey', 'light'), 2%);
      }
    }
  }

  th,
  td {
    @include breakpoint(min-width, bp-media('md')) {
      padding: .6rem;

      &:first-child,
      &:last-child { padding-left: 2rem; }
    }
  }

  th {
    background-color: theme-color('grey', 'light');

    @include breakpoint(min-width, bp-media('md')) {
      padding: .8rem;
    }
  }

  td {
    @include breakpoint(max-width, bp-media('md')) {
      display: flex;
      width: 100%;
      align-items: center;
      padding-right: .6rem;
      font-size: .96rem;
      line-height: 4rem;
      border: 1px solid theme-color('grey', 'base');
      border-bottom: none;
      @include shadow($box-shadow: 3px 1px 0);

      &:last-child { 
        margin-bottom: 2rem; 
        border-bottom: 1px solid theme-color('grey', 'base');
        box-shadow: 
          3px 0px 0 $box-shadow-color,
          $box-shadow $box-shadow-color;
      }
    }

    &:before { 
      @include breakpoint(max-width, bp-media('md')) {
        content: attr(data-thead);
        min-width: 30%;
        margin-right: .9rem;
        padding-left: .6rem;
        font-weight: 700;
        background-color: theme-color('grey', 'light');
      }
    }
  }
}

.match {
  @include breakpoint(max-width, bp-media('md')) {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
}
