@import '../../assets/styles/config';
@import '../../assets/styles/mixins';

.results-title {
  margin-bottom: 1.2rem;
  padding-bottom: .5rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid transparentize($color-text, .9);

  @include breakpoint(min-width, bp-media('md')) {
    text-align: initial;
  }
}

.results-content {
  position: relative;
  transition: .7s cubic-bezier(0.22, 0.61, 0.36, 1);
  animation: fade .7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.results-table-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(min-width, bp-media('md')) {
    flex-direction: initial;
    justify-content: space-between;
  }
}

.results-info,
.results-numbers { margin-bottom: 1rem; }

.results-table { margin-top: 1rem;  }

.results-info { 
  @include breakpoint(min-width, bp-media('md')) {
    max-width: 400px;
  }
}

.results-loading { 
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-30% -50%);
}

@keyframes fade {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

