@import '../../assets/styles/config';
@import '../../assets/styles/mixins';

.title {
  margin-bottom: 1.2rem;
  padding-bottom: .5rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid transparentize($color-text, .9);

  @include breakpoint(min-width, bp-media('md')) {
    text-align: initial;
  }
}

.results-table-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(min-width, bp-media('md')) {
    flex-direction: initial;
    justify-content: space-between;
  }
}

.results-next,
.results-numbers { margin-bottom: 1rem; }

.results-table { margin-top: 2rem; }
