@import '../../assets/styles/config';
@import '../../assets/styles/mixins';

.title {
  font-size: 1.2rem;
  text-align: center;

  @include breakpoint(min-width, bp-media('md')) {
    text-align: initial;
  }
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: 1.4rem auto .7rem;

  @include breakpoint(min-width, bp-media('md')) {
    flex-direction: initial;
    justify-content: initial;
    margin-left: initial;
    margin-right: initial;
  }
}

.list {
  display: inline-flex;
  justify-content: center;

  @include breakpoint(min-width, bp-media('md')) {
    justify-content: space-between;
  }
  
  + .list { 
    margin-top: .6rem;
    
    @include breakpoint(min-width, bp-media('md')) {
      margin-top: 0;
    }
  }
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid $color-grey-3; 
  border-radius: 100%;
  border-color: theme-color('primary', 'base');

  + .list-item { margin-left: .5rem; }

  &.euro-numbers {
    color: theme-color('white', 'base');
    background-color: theme-color('primary', 'base');

    @include breakpoint(min-width, bp-media('md')) {
      margin-left: .5rem;
    }
  }
}
